<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.uestc.smgt.dao.JinEMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.uestc.smgt.pojo.JinE" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="je" property="je" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, je
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from help_je
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from help_je
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.uestc.smgt.pojo.JinE" >
    insert into help_je (id, je)
    values (#{id,jdbcType=INTEGER}, #{je,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.uestc.smgt.pojo.JinE" >
    insert into help_je
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="je != null" >
        je,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="je != null" >
        #{je,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.uestc.smgt.pojo.JinE" >
    update help_je
    <set >
      <if test="je != null" >
        je = #{je,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.uestc.smgt.pojo.JinE" >
    update help_je
    set je = #{je,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="select" resultMap="BaseResultMap">
  	select * from help_je
  </select>
</mapper>